a {
    text-decoration: none;
}

a h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 0;
    margin: 0;
    display: inline;
    color: #2073b8;
}

nav {
    display: inline;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0px;
    float: right;
    text-align: center;
    color: white;
    background-color: #2073b8;
    padding: 0.2em;

    border: 2px solid #2073b8;
    border-radius: 10%;

    transition-duration: 0.4s;
}
nav a:hover {
    color: black;
    background-color: white;
}