.main {
    margin-left: 25%;
    margin-top: 5%;
}

.desc {
    font-family: Roboto;
    width: 40%;
    margin: 5% 0 0 0;
    float: left;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #272932;
}

h2 {
    font-weight: normal;
    color: #2073b8;
}

.buttonContainer {
    text-align: center;
}

button {
    color: white;
    background-color: #de9927;
    border: 2px solid #de9927;
    padding: 0.25em 1em;
    margin-top: 1em;
    border-radius: 5px;
    
    text-decoration: none;
    font-size: 1.5em;

    user-select: none;

    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    color: #de9927;
    background-color: white;
}

.list {
    font-family: Roboto;
    display: flex;
}

ul {
    margin-top: 8%;
}

li {
    list-style-type: none;
    margin: 1.5em;
}

label {
    font-size: 2em;
    padding: 0 0 0 2em;
}

input {
    width: 2em;
    height: 2em;
}
